ProyectoTiendita/Connected Services/ServicioClientes/ServicioCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerTodos">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTodosResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerUno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUnoResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prod" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prod" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerTodosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTodos" />
  </wsdl:message>
  <wsdl:message name="ObtenerTodosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerUnoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUno" />
  </wsdl:message>
  <wsdl:message name="ObtenerUnoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUnoResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarCliente" />
  </wsdl:message>
  <wsdl:message name="AgregarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarCliente" />
  </wsdl:message>
  <wsdl:message name="ModificarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="EliminarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioClienteSoap">
    <wsdl:operation name="ObtenerTodos">
      <wsdl:input message="tns:ObtenerTodosSoapIn" />
      <wsdl:output message="tns:ObtenerTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUno">
      <wsdl:input message="tns:ObtenerUnoSoapIn" />
      <wsdl:output message="tns:ObtenerUnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <wsdl:input message="tns:AgregarClienteSoapIn" />
      <wsdl:output message="tns:AgregarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <wsdl:input message="tns:ModificarClienteSoapIn" />
      <wsdl:output message="tns:ModificarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input message="tns:EliminarClienteSoapIn" />
      <wsdl:output message="tns:EliminarClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioClienteSoap" type="tns:ServicioClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTodos">
      <soap:operation soapAction="http://tempuri.org/ObtenerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUno">
      <soap:operation soapAction="http://tempuri.org/ObtenerUno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <soap:operation soapAction="http://tempuri.org/AgregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap:operation soapAction="http://tempuri.org/ModificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioClienteSoap12" type="tns:ServicioClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTodos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUno">
      <soap12:operation soapAction="http://tempuri.org/ObtenerUno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <soap12:operation soapAction="http://tempuri.org/AgregarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap12:operation soapAction="http://tempuri.org/ModificarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap12:operation soapAction="http://tempuri.org/EliminarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCliente">
    <wsdl:port name="ServicioClienteSoap" binding="tns:ServicioClienteSoap">
      <soap:address location="http://kokoyjesus-001-site1.itempurl.com/ServicioCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioClienteSoap12" binding="tns:ServicioClienteSoap12">
      <soap12:address location="http://kokoyjesus-001-site1.itempurl.com/ServicioCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>